@import "node_modules/bootstrap/scss/bootstrap";

$flex: flex;
$w100: 100%;

@mixin bg-color($color) {
    background-color: $color;
}

%top-bar {
    display: $flex;
    justify-content: space-between;
    padding: 30px 0;
}

%logo-w {
    width: 220px;
}

img {
    max-width: $w100;
    height: auto;
}

h1 {
    margin-bottom: 2rem;
}

.main {
    position: relative;

    header {
        position: absolute;
        z-index: 1;
        width: $w100;
        @include bg-color(rgba(255, 255, 255, 0.7));

        .top__bar {
            @extend %top-bar;

            .logo {
                @extend %logo-w;
            }
        }
    }
}

.main__page {
    header {
        margin-bottom: 25px;
        @include bg-color(#f9f9f9);

        .top__bar {
            @extend %top-bar;

            .logo {
                @extend %logo-w;
            }
        }
    }
}

nav {
    ul {
        display: $flex;
        list-style: none;
        padding-top: 5px;
        margin: 0;

        li {
            padding-right: 20px;

            a {
                font-weight: bold;
                color: #020203;
            }
        }

        li:last-child {
            padding-right: 0;
        }
    }
}

.img-content {
    padding: 30px;
}